calibration {
    filepath = "/home/bolt/mlbolt/code/config/kinect_calib.config";
}

training {
    color_data = "/home/bolt/mlbolt/code/java/dat/color_features.dat";
    shape_data = "/home/bolt/mlbolt/code/java/dat/shape_features.dat";
    size_data = "/home/bolt/mlbolt/code/java/dat/size_features.dat";
}
