std {
	host = "localhost";
	auto-restart = "true";
	restart-delay-ms = "500";
	auto-start = "true";
	name = "unknown";
	group = "std";
}

proc# : std {
	cmd = "java abolt.arm.ArmDriver -c /home/bolt/mlbolt/code/config/arm.config";
	name = "Arm Driver";
}

proc# : std {
	cmd = "java abolt.arm.BoltArmController";
	name = "Arm Controller";
}

//proc# : std {
//	cmd = "java abolt.arm.BoltArmDemo";
//	name = "Arm Demo GUI";
//}

proc# : std {
	cmd = "/home/bolt/mlbolt/code/bin/kinect 2";
	name = "Kinect Driver";
}

proc# : std {
	cmd = "java kinect.ispy.ISpy";
	name = "ISpy";
}
