// README: This is a template process manager script.
// Make a copy of it named proc.config in this folder
// (the config folder), go to the scripts folder, and
// type ./runAll to start up the process manager. You
// should not have to change any paths to config files
// if you run it this way. If this fails, you may have to
// edit config paths to reflect locations of these files
// on your personal machine.
//
// WARNING: If you run ./runAll ANYWHERE ELSE it will
// not work as written. You are warned. Relative file-
// paths will get you every time :P

std {
	host = "localhost";
	auto-restart = "true";
	restart-delay-ms = "500";
	auto-start = "true";
	name = "unknown";
	group = "std";
}

proc# : std {
	cmd = "java abolt.arm.ArmDriver -c ../config/arm.config";
	name = "Arm Driver";
}

proc# : std {
	cmd = "java abolt.arm.BoltArmController";
	name = "Arm Controller";
}

//proc# : std {
//	cmd = "java abolt.arm.BoltArmDemo";
//	name = "Arm Demo GUI";
//}

proc# : std {
	cmd = "../bin/kinect 2";
	name = "Kinect Driver";
}

proc# : std {
    // You should change this to point at the appropriate version of the
    // bolt configuration file
	cmd = "java kinect.bolt.Bolt -c ../config/rob_bolt.config";
	name = "Bolt GUI";
}

// Don't forget to launch SBolt!
